.text {
  text-align: center;
  font-family: "Bebas Neue";
  line-height: 10px;
  font-size: 38px;
}
.input {
  width: 100%;
  margin-bottom: 1vh;
  height: 6vh;
  text-align: center;
  outline: none;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 15px;
}
.connect {
  padding: 10px 5px;
  cursor: pointer;
  width: 200px;
  border-radius: 7px;
  border: 1px solid black;
  outline: none;
  margin-top: 5px;
  color: var(--white-color);
  display: flex;
  margin: none;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}
.connect img {
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: middle;
  margin-right: 5px;
}
.box{
  display: flex;
  justify-content: center;
}
.signup {
  margin-top: 2vh;
  background-color: rgba(48, 52, 69, 255);
  border: none;
  border-radius: 25px;
  color: var(--white-color);
  padding: 15px 40px;
  cursor: pointer;
  margin-left: 13vw;
}
.error {
  text-align: center;
  color: var(--white-color);
  margin-top: 3vh;
}
.account{
  text-align: center;
  cursor: pointer;
  margin-top: 2vh;
  
}
.account:hover{
  text-decoration: underline;
}