.channels {
  width: 20vw;
  height: 100vh;
  background-color: #212123;
  position: absolute;
  z-index: 0;
  left: 4.8rem;
}
.messageChannel {
  margin-left: 1rem;
  margin-top: 8px;
  font-size: 16px;
  background-color: var(--background-color);
  color: white;
  border: none;
  cursor: pointer;
  display: block;
}

.banner {
  width: 20vw;
  height: 11vh;
  object-fit: cover;
}
@media all and (max-width: 800px)  {
  .channels{
    width: 30vw;
  }
  .messageChannel{
    width: 10vw;
    text-align: center;
    font-size: 14px;
    
  }
 
}

