.nav {
    height: 16vh;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    width: 3rem;
  }
  .navItem {
    display: inline-block;
    color: var(--white-color);
    padding: 1.7rem;
  }
  .navButton {
    padding: 0.7rem 2rem;
    border: 1px solid var(--white-color);
    transition: all 1s ease;
    cursor: pointer;
  }
  .navLink::after {
    content: "";
    width: 0%;
    height: 2px;
    background: var(--primary-color);
    display: block;
    margin: auto;
    transition: 0.7s;
  }
  .navLink:hover::after {
    width: 100%;
  }
  .navButton:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }