.text {
  text-align: center;
  font-family: "Bebas Neue";
  line-height: 10px;
  font-size: 40px;
}
.input {
  width: 100%;
  margin-bottom: 1vh;
  height: 6vh;
  text-align: center;
  outline: none;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 15px;
  font-family: "Atkinson Hyperlegible";
}
.connect {
  padding: 10px 5px;
  cursor: pointer;
  width: 200px;
  border-radius: 7px;
  border: 1px solid black;
  outline: none;
  margin-top: 10px;
  color: var(--white-color);
  display: inline-block;
  margin: none;
  margin-left: 15px;
  font-family: "Atkinson Hyperlegible";
  font-size: 14px;
}
.connect img {
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: middle;
  margin-right: 5px;
}
.body{
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 50px;
}
.signup {
  margin-top: 2vh;
  background-color: rgba(48, 52, 69, 255);
  border: none;
  border-radius: 25px;
  color: var(--white-color);
  padding: 15px 40px;
  cursor: pointer;
  position: absolute;
  right: 40%;
}
.error {
  text-align: center;
  color: rgb(217, 62, 62);
}
