.messageContainer{
    
    width: 20vw;
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
    margin-left: 47vw;
}
.messageContainer div{
    background-color: gainsboro;
    padding-left: 10px;
    height: 40px;
}

.inputContainer{
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    margin-left: 30vw;
    width: fit-content;
}
 
.messageInput{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--white-color);
    width: 47vw;
    height: 6vh;
    padding-left: 10px;
}