/* The global css file */
:root {
  --background-color: #202225;
  --secondary-background-color: #1f1f20;
  --third-background-color: #303032;
  --white-color: #fff;
  --primary-color: #1d9bf0;

  --container-width: 126rem;
}

html,
body {
  padding: 0;
  overflow-y: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

* {
  box-sizing: border-box;
}

