
.text {
  text-align: center;
  color: var(--white-color);
}
.main {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #080A14;
  
  
}
.left {
  text-align: center;
  color: var(--white-color);
  font-size: 35px;
  margin-top: 1vh;
  line-height: 90px;
}
.left h1 {
  position: absolute;
  width: 480px;
  height: 90px;
  left: 100px;
  top: 158px;

  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 115px;
  /* or 100% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.left h2 {
  position: absolute;
  width: 465px;
  height: 116px;
  left: 108px;
  top: 440px;

  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
